<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
  <title>ChatForNow</title>
  <link rel="icon" type="image/png" href="/images/icon.png">
</head>
<body>

<h1>ChatForNow</h1>
<nav class="nav_bar">
  <ul>
  <li><a href="/">Home</a></li>
  <li style="float:right"><a href="/register">Register</a></li>
  <li style="float:right"><a href="/login">Login</a></li>
</ul>
</nav>

<p id="demo"></p>

<script>
var i = 0;
var j = 0;
let str = '';

var txt = ['Where the world chats...','What are you waiting for?','Sign up now!',' and lets ChatForNow!'];

var speed = 100;
var speedb = 30;

let arr=[];

function typeWriter1() {
  if (i < txt[j].length) {
    arr.push(txt[j].charAt(i));
    arr.forEach( (item) => {
      str += item;
    })
    document.getElementById("demo").innerHTML = str;
    str='';
    i++;
    setTimeout(typeWriter1, speed);
  }
}

function reset(){
  j++;
  i = 0;
  arr=[];
}

function typeRemover(){
  if (i > 0) {
    arr.pop();
    arr.forEach( (item) => {
      str += item;
    })
    document.getElementById("demo").innerHTML = str;
    str='';
    i--;
    setTimeout(typeRemover, speedb);
  }
}
setTimeout(typeRemover, speed*31);
setTimeout(reset,(speed+speedb)*31);
setTimeout(typeWriter1, (speed+speedb)*32);
setTimeout(typeRemover, speed*73);
setTimeout(reset,(speed+speedb)*69);
setTimeout(typeWriter1, (speed+speedb)*69);
setTimeout(typeRemover, speed*110);
setTimeout(reset,(speed+speedb)*96);
setTimeout(typeWriter1, (speed+speedb)*96);

typeWriter1();
</script>

<a  href="http://www.saavyas.org/"> <img id="google" src="/images/saavyas1.PNG" alt="google"> </a>
<a  href="https://www.youtube.com/channel/UC4Ahxhye0-Nb20dooZ7Q_3A"> <img id="youtube" src="/images/youtube2.png" alt="youtube"> </a>
<a  href="https://www.instagram.com/saavyas.nitg/"> <img id="instagram" src="/images/instagram.jpg" alt="instagram"> </a>
<a  href="https://www.facebook.com/saavyas.nitg/"> <img id="facebook" src="/images/facebook1.jpg" alt="instagram"> </a>

</body>
</html>
