<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
</head>
<body>

<h1>ChatForNow</h1>
<nav class="nav_bar">
  <ul>
  <li><a href="/home">Home</a></li>
  <li style="float:right"><a href="/register">Register</a></li>
  <li style="float:right"><a href="/login">Login</a></li>
</ul>
</nav>


<p id="demo"></p>
<p id="demo2"></p>

<script>
var i = 0;
var j = 0;
var txt2 = 'Watcha waitin for?';
var txt1 = 'Where the world chats...';

var txt = ['Where the world chats...','What are you waiting for?','Sign up now!',' And lets get chatting!'];

var speed = 100;

function typeWriter1() {
  if (i < txt[j].length) {
    document.getElementById("demo").innerHTML += txt[j].charAt(i);
    i++;
    setTimeout(typeWriter1, speed);
  }
}
typeWriter1();
setTimeout(reset,speed*32);
setTimeout(typeWriter1, speed*33);
setTimeout(reset,speed*65);
setTimeout(typeWriter1, speed*66);
setTimeout(reset,speed*84);
setTimeout(typeWriter1, speed*85);

function reset(){
  j++;
  i = 0;
  document.getElementById("demo").innerHTML = "";
}

function typeWriter2() {
  if (j < txt2.length) {
    document.getElementById("demo").innerHTML += txt2.charAt(j);
    j++;
    setTimeout(typeWriter2, speed);
  }
}
</script>

</body>
</html>
