<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
  <script type="text/javascript" src="typed/js">

  </script>
</head>
<body>

<h1>ChatForNow</h1>
<nav class="nav_bar">
  <ul>
  <li><a href="/home">Home</a></li>
  <li style="float:right"><a href="/register">Settings</a></li>
</ul>
</nav>

<p class="type"></p>

<script type="text/javascript">
  var typed = new Typed(".type", {
  strings: ["Welcome to ChatForNow", "The place where the whole world is....","Hurry up and hope on board","We are the latest trend","We are the Future!"],
  typeSpeed: 200,
  backSpeed: 50,
  loop: true
});
</script>

</body>
</html>
