<!DOCTYPE html>

<html>
	
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="ChatOn, The place where the whole worlds on.">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Login-Page</title>
		<link rel="stylesheet" type="text/css" href="style_login.css">
	</head>

	<body>
		<header>
			<h1 class="H1">ChatOn</h1>
			<hr/>
			<p class="sen1"><big>Chat</big> with the <b>world!</b></p>
			<hr/>
			<br>
			<br>
		
			<div class="login_page">
            	<div class="form">
        	    	<form class = "login-form" method="POST">
       	     			Email_id: <input type="text" name="email" placeholder="your email_id">
       	     			<br>
       	     			<br>
       	     			Password: <input type="password" name="password" placeholder="your password">
       	     			<br>
       	     			<br>
       	     			<button>Login</button>
       	     			<a class="mesg-log" id="linky" href="#">Not yet registered?</a>
            		</form>

        	    	<form class = "register-form" method="POST">
        	    		Name: <input type="text" name="name" placeholder="your name..">
        	    		<br>
        	    		<br>
       	     			Email_id: <input type="text" name="email" placeholder="your email_id..">
       	     			<br>
       	     			<br>
       	     			Password: <input type="password" name="password" placeholder="your password..">
       	     			<br>
       	     			<br>
       	     			<button>Register</button>
       	     			<a class="mesg-res" href="#" id="linky">Already a member?</a>
            		</form>

           		</div>
           	</div>

			<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>

			<!--
				not working
			-->

			<script type="text/javascript">  
$(document).ready(function()  
{  
    $('.register-form').hide();  
    $('.msg-log').click(function()  
    {  
    $('.register-form').slideUp('slow');  
    $('.login-form').slideDown('slow');  
    });  
    $('.mesg-res').click(function()  
    {  
        $('.login-form').slideUp('slow');  
        $('.register-form').slideDown('slow');  
    });   
});  
</script>

        </header>

        <main>
        	
        </main>

		<footer>
			
		</footer>

	</body>

</html>