<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
  <meta name="description" content="ChatOn, The place where the whole worlds on.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login-Page</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style_login.css">
</head>

<img src="/images/falling_binary.jpeg" >

<body>

  <nav class="nav_bar">
    <ul>
    <li><a href="/home">Home</a></li>
    <li style="float:right"><a href="/register">Register</a></li>
    <li style="float:right"><a href="/login">Login</a></li>
  </ul>
  </nav>

  <header>
    <h1 class="H1">ChatForNow</h1>
    <hr />
    <p class="sen1"><big>Chat</big> with the <b>world!</b></p>
    <hr />
    <br>
    <br>

    <div class="login_page">
      <div class="form">
        <form class="login-form" method="POST">
          Email_id: <input type="text" name="email" placeholder="your email_id">
          <br>
          <br>
          Password: <input type="password" name="password" placeholder="your password">
          <br>
          <br>
          <button>Login</button>
          <a class="mesg-log" id="linky" href="#">Not yet registered?</a>
        </form>

      </div>
    </div>
  </header>

</body>

</html>
