<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/register_done.css">
  <title>login_done</title>
  <link rel="icon" type="image/png" href="/images/icon.png">
</head>

<body>

  <h1>You've Been Hacked!<h1>

  <h3>Here are your Login details</h3>
  <p><b>email:<b> <%= data.email %></p>
  <p><b>password:<b> <%= data.password %></p>

  <h1>Well, atleast you managed to login :p</h1>

</body>
</html>
