html{
  background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.1)),url(/images/home2.jpg);
  padding: 0;
  margin: 0;
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 1;
  z-index: -10;
}

body{
  padding: 0;
  margin: 0;
}

button{
  padding: 0;
  margin: 0;
  position: absolute;
  top: 250px;
}

h1{
  padding: 0;
  margin: 0;
  font-size: 100px;
  color: 	#32CD32;
  position: absolute;
  display:inline;
  list-style-type: none;
  padding: 40px;
  left: 30%;
  margin: 0px;
  text-align: center;
  top: 50px;
}

nav{
  padding: 0;
  margin: 0;
  position: sticky;
  top: 0px;
  border-style: solid;
  border-color: #00FF00;
}

.nav_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul{
  padding: 0;
  margin: 0;
  position: sticky;
  display: block;
  top: 0;
  overflow: hidden;
  background-color: #333;
}

li a {
  padding: 0;
  margin: 0;
  display: block;
  color: #48fb47;
  background-color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #48fb47;
  color: #000;
}

li {
  padding: 0;
  margin: 0;
  display: inline;
  float: left;
}

a{
  display: block;
  padding: 0px;
  background-color: #dddddd;
}

.active {
  background-color: #006400;
  color: #000;
}

#demo{
  text-align: center;
  color: #48fb47;
  position: relative;
  top:150px;
  font-size: 30px;
}

#demo2{
  text-align: center;
  color: #48fb47;
  position: relative;
  top:170px;
  font-size: 30px;
}

img a{
  display: block;
  text-decoration:none;
}

#google{
  margin: 2px;
  padding: 0;
  display: block;
  position: absolute;
  left: 20px;
  top: 200px;
  height:50px;
  width: 55px;
  border-style: solid;
  border-color: #228B22;
  border-width: 2px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

#youtube{
  margin: 2px;
  padding: 0;
  display: block;
  position: absolute;
  left: 20px;
  top: 260px;
  height: 50px;
  width: 55px;
  border-style: solid;
  border-color: #228B22;
  border-width: 2px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

#instagram{
  margin: 2px;
  padding: 0;
  display: block;
  position: absolute;
  left: 20px;
  top: 320px;
  height:50px;
  width: 55px;
  border-style: solid;
  border-color: #228B22;
  border-width: 2px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

#facebook{
  margin: 2px;
  padding: 0;
  display: block;
  position: absolute;
  left: 20px;
  top: 380px;
  height:50px;
  width: 55px;
  border-style: solid;
  border-color: #228B22;
  border-width: 2px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

#google:hover {
  width: 110px;
  height: 100px;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);

  -webkit-animation: gog 1s 1;
  -webkit-animation-direction: alternate;
  animation: gog 1s 1;
  animation-direction: alternate;
}
#youtube:hover {
  width: 110px;
  height: 100px;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);

  -webkit-animation: yout 1s 1;
  -webkit-animation-direction: alternate;
  animation: yout 1s 1;
  animation-direction: alternate;
}

#instagram:hover {
  width: 110px;
  height: 100px;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);

  -webkit-animation: inst 1s 1;
  -webkit-animation-direction: alternate;
  animation: inst 1s 1;
  animation-direction: alternate;
}
#facebook:hover {
  width: 110px;
  height: 100px;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);

  -webkit-animation: fb 1s 1;
  -webkit-animation-direction: alternate;
  animation: fb 1s 1;
  animation-direction: alternate;
}

@-webkit-keyframes gog {
  0%   {left: 0px; top: 200px;}
  100%  {left: 100px; top: 200px;}
}

@keyframes gog {
  0%   {left: 0px; top: 200px;}
  100%  {left: 100px; top: 200px;}
}


@-webkit-keyframes yout {
  0%   {left: 0px; top: 260px;}
  100%  {left: 100px; top: 260px;}
}

@keyframes yout {
  0%   {left: 0px; top: 260px;}
  100%  {left: 100px; top: 260px;}
}


@-webkit-keyframes inst {
  0%   {left: 0px; top: 320px;}
  100%  {left: 100px; top: 320px;}
}

@keyframes inst {
  0%   {left: 0px; top: 320px;}
  100%  {left: 100px; top: 320px;}
}


@-webkit-keyframes fb {
  0%   {left: 0px; top: 380px;}
  100%  {left: 100px; top: 380px;}
}

@keyframes fb {
  0%   {left: 0px; top: 380px;}
  100%  {left: 100px; top: 380px;}
}
