body{
	background-image: url(falling_binary.jpeg);
	height: 626px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;

}

header{
	position: relative;
	top: 80px;
	color: #48fb47;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/images/login_hack.png);
	height: 270px;
	background-position: center;
	background-size: cover;
	width: 500px;
	margin: auto;
}

.form input{
	font-family: :"Roboto", sans-serif;
	outline: 1;
	border: 2px solid #48fb47;
	background: white;
	box-sizing: border-box;

}

button{
	font-family: :"Roboto", sans-serif;
	border: 2px solid #48fb47;
    box-sizing: border-box;
}

button:hover{
	background-color: red;
	color: white;
}

a{
	color: #48fb47;
}

#linky:hover {
  color: red;
}

.form .register-form{
	display: none;
}
